.Team-B { position: absolute; width: 100%; height:50%; left: 0; bottom: 0; z-index: 1;}
.Team-B-row1 { position: absolute; width: 100%; left: 0; bottom: 1%; z-index: 1;}
.Team-B-row2 { position: absolute; width: 100%; left: 0; bottom: 30%; z-index: 1;}
.Team-B-row3 { position: absolute; width: 100%; left: 0; bottom: 50%; z-index: 1;}
.Team-B-row4 { position: absolute; width: 100%; left: 0; top: 23%; z-index: 1;}
.Team-B-row5 { position: absolute; width: 100%; left: 0; top: 6%; z-index: 1;}