.Substitutes{
  color: #fff;
  font-size: 20px;
  line-height: 37px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.PlayerList ul.list-unstyled li {
  color: #fff;
  padding: 18px 30px;
}

.PlayerList ul.list-unstyled li a {
  color: #fff;
  text-decoration: none;
}

.PlayerList ul.list-unstyled li a .num {
  padding: 0 18px;
}

@media (max-width:992px) {
  .PlayerList ul.list-unstyled li {
    color: #fff;
    padding: 18px 10px;
  }
  
  .PlayerList ul.list-unstyled li a .num {
    padding: 0 10px;
  }
}

.yc-wrapper {
  margin-right: 10px;
}

.yc {
  margin: 0 7px;
  transform: scale(1.2, 1.3)
}

.rc {
  vertical-align: baseline;
  margin-left: 25px;
  transform: scale(1.2, 1.3)
}
